.wrapper {
  width: 100%;
  color: var(--gray-text);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 200ms;
  position: relative;
  cursor: pointer;

  + .wrapper {
    border-top: 1px solid var(--light-purple);
  }

  &:hover {
    background-color: var(--light-purple);
  }

  &:hover .play-icon {
    opacity: 1;
  }
}

.music {
  height: 100%;

  .thumb {
    flex-shrink: 0;
    width: 69px;
    height: 69px;
  }

  .info {
    margin: auto 0;
  }
}

.music {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .icon {
    font-size: 1.3rem;
    margin-right: 10px;
    display: flex;
  }

  .thumb {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

  .play-icon {
    font-size: 1.5rem;
    background-color: rgba(black, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    transition: 200ms;
  }

  .info {
    align-self: flex-start;
  }

  .name,
  .singer {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .name {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .singer {
    font-size: 1.2rem;
  }
}

.playing {
  background-color: var(--purple);

  &:hover {
    background-color: var(--purple);
  }

  a {
    color: rgba(white, 0.6);

    &:hover {
      color: rgba(white, 0.6);
    }
  }
}

.disabled-overlay {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(black, 0.5);
}

.loading {
  pointer-events: none;

  .disabled-overlay {
    display: block;
  }
}

.loading-icon {
  background-color: rgba(black, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid white;
    border-top-color: transparent;
    box-sizing: content-box;
    transition: 200ms;
    animation: spinner 2s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
