.wrapper {
  width: 100%;
  height: fit-content;
  padding: 0 var(--main-padding);
  overflow-y: overlay;
  overflow-x: hidden;
}

.banner {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.more-button {
  display: flex;
  justify-content: center;
}
