.wrapper {
  border-radius: 999px;
  border: 2px solid var(--purple);
  overflow: hidden;
  display: inline-block;

  + .wrapper {
    margin-right: -8px;
  }
}

.small {
  width: 20px;
  height: 20px;
}
