.wrapper {
  width: 100%;
  padding: 15px 8px;
  border-radius: 8px;
  background-color: var(--purple);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;

  + .wrapper {
    margin-top: 10px;
  }
}

.gradient {
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);

  .btn {
    color: var(--black);
    background-color: var(--yellow);
    border-color: var(--yellow);
    transition: background-color 200ms;

    &:hover {
      background-color: #e5c500;
    }
  }
}

.title {
  margin-bottom: 10px;
}

.btn {
  padding: 6px 35px;
  border-radius: 999px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid var(--white);
  background-color: rgb(255 255 255 / 10%);
  transition: background-color 200ms;

  &:hover {
    background-color: unset;
  }
}
