.wrapper {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 200ms;
  cursor: pointer;

  .thumb {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  &:hover {
    background-color: var(--alpha-purple);

    .overlay {
      opacity: 1;
    }
  }

  &.artist {
    .thumb {
      border-radius: 50%;
    }
  }

  .body {
  }

  .name {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .desc {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--disabled-text);
  }

  .overlay {
    background-color: rgba(black, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    transition: 200ms;

    span {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
