.artist-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-text);
  transition: 200ms;
  cursor: pointer;

  + .artist-link {
    &:hover::before {
      color: var(--gray-text);
    }

    &::before {
      content: ',';
      margin-right: 5px;
    }
  }

  &:hover {
    text-decoration: underline;
    color: var(--purple);
  }
}
