.wrapper {
  width: 100%;
  height: var(--gallery-height);
  position: relative;

  &:hover .controller {
    opacity: 1;
  }
}

.controller {
  width: 55px;
  height: 55px;
  font-size: 2.8rem;
  background-color: rgba(white, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 10px rgb(black, 0.2);
  opacity: 0;
  transition: opacity 200ms;
  user-select: none;
  z-index: 15;
  cursor: pointer;

  &.prev-btn {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.next-btn {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg);
  z-index: 5;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}

.gallery-item {
  width: calc((100% - 2 * var(--gallery-item-gap)) / 3);
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  transition: 800ms;

  &.pending {
    z-index: 0;
  }

  &.first-item {
    transform: translateX(calc(-100% - var(--gallery-item-gap)));
  }

  &.last-item {
    transform: translateX(calc(100% + var(--gallery-item-gap)));
  }

  &.current-item {
    z-index: 10;
  }
}

.gallery-img {
  border-radius: 8px;
}
